body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: radial-gradient(circle, #4e342e, #2c1b19);
}

@keyframes gradientAnim {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.container {
  text-align: center;
  background-color: rgba(203, 187, 167, 0.9);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.2);
  width: 90%;
  max-width: 600px;
}

h1, p {
  color: #331F19;
}

input[type="text"] {
  padding: 10px;
  width: 80%;
  max-width: 500px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid #8B7D70;
  border-radius: 5px;
  font-size: 1em;
  outline: none;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease;
}

input[type="text"]:focus {
  border-color: #60041A;
  box-shadow: inset 0 2px 4px rgba(96, 4, 26, 0.3);
}

button {
  background: rgba(255, 255, 255, 0.1);
  color: #F4F0EA;
  padding: 10px 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 8px;
  font-size: 1em;
  cursor: pointer;
  margin: 10px 5px 0;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #CCD595;
  color: #331F19;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

ul li {
  background-color: #F4F0EA;
  color: #331F19;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button.btn-remove {
  background-color: #A34743;
  font-size: 0.6em;
  padding: 5px 8px;
}

button.btn-edit {
  background-color: #331F19;
  font-size: 0.6em;
  padding: 5px 8px;
}

button.btn-clear {
  background-color: #A34743;
}

button.btn-clear:hover {
  background-color: #60041A;
}
