body {
  background: #D4DBE4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculadora {
  display: grid;
  grid-template-columns: repeat(4, 60px);
  grid-template-rows: auto repeat(5, 55px);
  gap: 30px;
  background: linear-gradient(#4b4b4b, #b1b1b1);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
}

.visor {
  grid-column: 1 / -1;
  height: 50px;
  border-radius: 8px;
  font-size: 20px;
  padding: 10px;
  border: none;
  background: #EDF3F7;
  color: #333;
  text-align: right;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
  height: 60px;
  font-size: 24px;
  padding: 16px;
}

.botao {
  background: linear-gradient(#4b4b4b, #b1b1b1);
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  width: 60px;
  height: 60px;
  padding: 12px;
}

.botao.ac, .botao.ce {
  background: linear-gradient(#885607, #EE970B);
  color: white;
}

.botao.mais {
  grid-row: span 2;
  height: 105%;
}

.botao:active {
  transform: scale(0.95);
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.3);
}
